@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --color-background: #f2cdc4;
    --color-surface: #D9A79C;
    --color-primary: #D97971;
    --color-secondary: #03dac6;
    --color-tertiary: #ff9e00;
    --color-text: #734945;
    --color-text-secondary: #BF4E58;
    --color-border: #333333;
    --transition-speed: 0.3s;
    --border-radius: 12px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2cdc4;
    color: #734945;
    font-family: "Ubuntu", Verdana, Tahoma, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    padding: 2rem;
}

#adicionar{
    font-family: "Nunito Sans", sans-serif;
    background-color: #D97971;
    color: var(--color-text);
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s, color 0.3s;
    width: 100px;
}

#adicionar:hover{
    background-color: var(--color-text-secondary);
    color: var(--color-background);

}

.checked{
    color: var(--color-background);
    background-color: rgb(62, 141, 69);
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
}

#tarefa{
    padding: 5px;
    width: 250px;
    border-radius: 5px;
    color: #734945;
}

li{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 5px;
}

img{
    display: block;
    max-height: 2.5vh;
}